<!--The content below is only a placeholder and can be replaced.-->
<form #userForm="ngForm">
  <div class="row">
    <div class="col-6 col-sm-4 offset-sm-4" style="text-align:center">
        <h3>{{ title }}</h3>
        <div><span style="color: red"><b>*</b></span> indicates required field</div>
    </div>
  </div>
<br/>
<!-- {{ userForm.value | json }}
<hr />
{{ clientCopyModel | json }} -->
<style>
  .btnDisabled {
    opacity: .35;
    cursor: not-allowed !important;
  }
</style>
  <div class="row">
    <div class="col-3 col-sm-2 offset-sm-4">
        <h6>Source <span style="color: red"><b>*</b></span></h6>
        <select [(ngModel)]="clientCopyModel.Source" [disabled]="processing" [ngClass]="{'btnDisabled': processing}" (change)="SelectOption($event.target.value)" class="form-control browser-default custom-select" name="source">
          <!-- <option [ngValue]="undefined" hidden>please select</option> -->
          <option *ngFor="let item of sources" [value]="item.id">{{ item.text }}</option>
         </select>

    </div>
    <div class="col-3 col-sm-2">
        <h6>Destination <span style="color: red"><b>*</b></span></h6>
        <select [disabled]="processing" [ngClass]="{'btnDisabled': processing}" class="form-control browser-default custom-select" name="destination" [(ngModel)]="clientCopyModel.Destination">
          <option *ngFor="let item of destinations" [value]="item.id" [disabled]="item.disabled">{{ item.text }}</option>
         </select>
    </div>
  </div>
  <br /><br />
  <div class="row">
      <div class="col-3 col-sm-2 offset-sm-4">
          <label for="division"><h6>Division <span style="color: red"><b>*</b></span></h6></label>
          <input [disabled]="processing" [ngClass]="{'btnDisabled': processing}"
              name="division"
              type="text"
              class="form-control"
              id="inputDivision"
              placeholder="Division"
              maxlength="5"
              [(ngModel)]="clientCopyModel.Division">
      </div>
      <div class="col-3 col-sm-2">
        <label for="year"><h6>Year <span style="color: red"><b>*</b></span></h6></label>
        <input [disabled]="processing" [ngClass]="{'btnDisabled': processing}"
            name="year"
            type="number"
            class="form-control"
            id="inputYear"
            placeholder="Year"
            max="{{ currentYear }}"
            min="{{ currentYear - 4 }}"
            [(ngModel)]="clientCopyModel.Year">
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-6 col-sm-4 offset-sm-4">
      <div id="alertArea" class="alert text-center {{ alertClass }}" role="alert" (ngModel)="responseModel">
          <div>{{alertAreaText}} <app-spinner></app-spinner></div>
          <div *ngIf="responseModel.CopyWasSuccessful">
          </div>
      </div>
      <div style="border-radius: 3px; background-color: #cccccc47; padding: 1em; margin-bottom: 1em; text-align: center" [innerHTML]="successText" *ngIf="successText"></div>
    </div>
  </div>
  <div class="row">
      <div class="col-6 col-sm-4 offset-sm-4">
          <button class="btn btn-primary" id="buttonCopy" [ngClass]="{'btnDisabled': !formIsValid() || processing}" [disabled]="!formIsValid() || processing" (click)="ExecuteCopy()">Copy</button>
          <button class="btn btn-danger" style="float: right;" [ngClass]="{'btnDisabled': processing}" [disabled]="processing" id="buttonReset" (click)="ResetForm()">Reset</button>
      </div>
  </div>
</form>

<router-outlet></router-outlet>
