
<style>

</style>
<div *ngIf="showSpinner">
  <!--  -->
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 250" x="0px" y="0px" width="50px" height="50px"
    style="enable-background:new 0 0 250 250;" xml:space="preserve">
    <defs>

      <style>
        .bbb {
          fill: #bbb;
        }

        .blue-even-odd {
          fill: #173e6d;
          fill-rule: evenodd;
        }

        .deep-grey {
          fill: #636569;
        }

        .blue {
          fill: #1C3868;
        }

        .grey {
          animation: stretch 3s linear infinite;
        }

        @keyframes stretch {
          0% {
            opacity: 1;
          }

          50% {
            opacity: .8;
          }

          100% {
            opacity: 1;
          }
        }
      </style>
    </defs>
    <g id="Layer_1" data-name="Layer 1">

      <!--left-->
      <!--lt 1-->
      <path class="bbb grey" d="M73.26,44.74A94.47,94.47,0,0,1,120,29.58v-30A124.41,124.41,0,0,0,55.58,20.41Z">
        <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 125 125" to="360 125 125"
          dur="2.9s" begin="0s" repeatCount="indefinite" />
      </path>
      <!--lt 2-->
      <path class="bbb grey" d="M36.2,90.35a95.48,95.48,0,0,1,29-39.73L47.49,26.29A125.29,125.29,0,0,0,7.61,81.06Z">
        <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 125 125" to="360 125 125"
          dur="3s" begin="0s" repeatCount="indefinite" />
      </path>
      <!--lt 3-->
      <path class="bbb grey"
        d="M29.87,124.46a95.1,95.1,0,0,1,3.23-24.6L4.52,90.57a125.82,125.82,0,0,0,0,67.78l28.58-9.29A95,95,0,0,1,29.87,124.46Z">
        <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 125 125" to="360 125 125"
          dur="3.1s" begin="0s" repeatCount="indefinite" />
      </path>
      <!--lt 4-->
      <path class="bbb grey" d="M65.17,198.3a95.48,95.48,0,0,1-29-39.73L7.61,167.86a125.32,125.32,0,0,0,39.88,54.78Z">
        <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 125 125" to="360 125 125"
          dur="3.2s" begin="0s" repeatCount="indefinite" />
      </path>
      <!--left 5-->
      <path class="bbb grey"
        d="M120,249.36v-30a94.37,94.37,0,0,1-46.74-15.16L55.58,228.51A124.32,124.32,0,0,0,120,249.36Z">
        <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 125 125" to="360 125 125"
          dur="3.1s" begin="0s" repeatCount="indefinite" />
      </path>
      <!--end left-->
      <!--right-->
      <!--rt 1-->
      <path class="bbb blue" d="M130-.43v30a94.41,94.41,0,0,1,46.66,15.26l17.67-24.33A124.29,124.29,0,0,0,130-.43Z">
        <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 125 125" to="360 125 125"
          dur="2.2s" begin="0s" repeatCount="indefinite" />
      </path>
      <!--rt 2-->
      <path class="bbb blue"
        d="M184.73,50.75a95.46,95.46,0,0,1,28.83,39.68l28.59-9.29a125.23,125.23,0,0,0-39.74-54.72Z">
        <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 125 125" to="360 125 125"
          dur="2.3s" begin="0s" repeatCount="indefinite" />
      </path>
      <!--rt 3-->
      <path class="bbb blue"
        d="M219.87,124.46A94.43,94.43,0,0,1,216.65,149l28.59,9.29a125.76,125.76,0,0,0,0-67.62l-28.59,9.29A94.48,94.48,0,0,1,219.87,124.46Z">
        <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 125 125" to="360 125 125"
          dur="2.4s" begin="0s" repeatCount="indefinite" />
      </path>
      <!--rt 4-->
      <path class="bbb blue"
        d="M213.56,158.49a95.46,95.46,0,0,1-28.83,39.68l17.68,24.33a125.23,125.23,0,0,0,39.74-54.72Z">
        <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 125 125" to="360 125 125"
          dur="2.5s" begin="0s" repeatCount="indefinite" />
      </path>
      <!--rt 5-->
      <path class="bbb blue" d="M176.66,204.06A94.41,94.41,0,0,1,130,219.32v30a124.29,124.29,0,0,0,64.33-21Z">
        <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 125 125" to="360 125 125"
          dur="2.6s" begin="0s" repeatCount="indefinite" />
      </path>
      <!--end right-->
    </g>
  </svg>
</div>
